body{
	margin-left:0px;
	margin-right: 0px;
}

@font-face{
	font-family: teken;
	src: url(teken.ttf);
}

@font-face{
	font-family: tekst;
	src: url(text.ttf);
}

.border{
	border: 1px solid black;
}

.login{
	font-size: 30px;
	position: absolute;
	top: 20px;
	left: 2%;
}

.login a{
	color: black;
	text-decoration: underline;
	transition: 0.2s;
	opacity: 1;
}

.login a:hover{
	text-decoration: none;
	opacity: 0.5;
}

.loginform{
	font-family: tekst;
	font-size: 30px;
}

.loginformbar{
	width: 300px;
	height: 30px;
    border: 1px solid black;
    font-family: tekst;
    font-size: 20px;
}

.loginformsubmit{
	background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

.nav{
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: teken;
	font-size: 50px;
}

.nav a{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: black;
	transition:0.2s;
	opacity: 1;
}

.nav a:hover{
	opacity: 0.5;
}

.header {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.container{
	font-family: tekst;
	font-size: 20px;
}

.containertext{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-family: tekst;
	font-size: 25px;
}

.logoimg{
	width: 200px;
	padding: 5px;
}

.navlogo{

}

.registerklik{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

h1{
	font-family: tekst;
	font-size: 50px;
}

h2{
	font-family: tekst;
	font-size: 30px;
}

p {
	font-family: tekst;
	font-weight: lighter;
}


